html,
body {
  min-height: 100%;
}

body {
  background: #EFF1F4;
  border-top: 3px solid #0089CF;
  font-family: helvetica neue, helvetica, sans-serif;
  position: relative;
  padding: 0;
}

.container {
  border-radius: 4px;
  max-width: 400px;
  padding: 24px 48px;
  position: relative;
  text-align: center;
}

h1 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
}

p {
  background: rgba(255, 255, 255, 1);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 1.4;
  padding: 16px;
  position: relative;
  margin: 2.75em auto 1em;
  max-width: 260px;
}

p:after {
	border-bottom: 12px solid rgba(255, 255, 255, 1);
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
  content: "";
	height: 0; 
  left: 50%;
  margin: 0 0 0 -12px;
  position: absolute;
  top: -12px;
	width: 0; 
}

.inner-content {
  height: 248px;
  overflow: auto;
  margin: auto;
  padding-top: 24px;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 400px;
}

.chat-now {
  background: #2FD80B;
  border-radius: 3px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 18px 36px;
}

.chat-now:hover {
  background: #36E411;
  color: #fff;
  text-decoration: none;
}

.logo {
  margin: 1.25em 0 0.5em;
  width: 72px;
}

#logoutText {
  color: #7B8997;
}

